<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
        <meta charset="UTF-8">
    <title>Recipes</title>
    </head>
    <body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>Add New Recipe / Edit Recipe</h1>
            </div>
            <div class="col-1">
                <a href="/dashboard">
                    <button class="btn btn-primary">Dashboard</button>
                </a>
            </div>
            <div class="col-2">
                <form action="/logout" method="post">
                    <button class="btn btn-primary">Log me out</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form {% if edit == True: %} action="/recipes/edit/{{recipe.id}}" {% else %} action="/recipes/new" {% endif %} method="post">
                    <table>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input name="name" class="form-control" {% if edit == True: %} value="{{recipe.name}}" {% endif %}>
                                    {% with messages = get_flashed_messages(category_filter=["name"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{message}}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label>Date Made On:</label>
                                    <input type="date" name="made_on" class="form-control" {% if edit == True: %} value="{{recipe.made_on}}" {% endif %}>
                                    {% with messages = get_flashed_messages(category_filter=["date"]) %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{message}}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label>Description:</label>
                                    <textarea name="description" class="form-control">{% if edit == True: %} {{recipe.description}} {% endif %}</textarea>
                                        {% with messages = get_flashed_messages(category_filter=["description"]) %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{message}}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                </div>
                            </td>
                            <td>
                                <p>Under 30 Minutes?</p>
                                <div class="form-group">
                                    <label for="yes_under_30">Yes</label>
                                    <input type="radio" name="under_30" class="form-control" id="yes_under_30" value="True" {% if edit == True:%} {% if recipe.under_30 == True: %} checked {% endif %}{% endif %}>
                                    <label for="no_under_30">No</label>
                                    <input type="radio" name="under_30" class="form-control" id="no_under_30" value="False" {% if edit == True: %} {% if recipe.under_30 == False: %} checked {% endif %}{% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <textarea name="instructions" class="form-control">{% if edit == True: %} {{recipe.instructions}} {% endif %}</textarea>
                                    {% with messages = get_flashed_messages(category_filter=["instructions"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{message}}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </td>
                            <td><!-- INTENTIONALLY BLANK --></td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" class="btn btn-primary">
                                    {% if edit == False: %}
                                        Create
                                    {% else: %}
                                        Save
                                    {% endif %}
                                </button>
                            </td>
                            <td><!-- INTENTIONALLY BLANK --></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>


    </div>
    </body>
</html>

